body {
color:white;
background-image: url("../../images/wallp1.jpg");
background-size: 100%;
background-repeat: no-repeat;
margin:0px;
}

.container{ 
	padding: 0px;
	margin:0px;
	max-width: 100%;
	min-width: 100%;
 }

 .nav-bar-style {
 	padding:0px 0px;
 	margin: 0;
 	max-width: 100%;
 	min-width: 100%;
 }

 .toolbar {
 margin: 0 -2%;
 }

.inputQuestion {
	color: black;
}

.buttonAndChatbot {
	margin-left: 20%;
	margin-top: 5%;
	margin-right: 15%;
	justify-content: center;
	align-self: center;
	align-content: center;
	align-items: center;
}

.submit-button-for-food-questions {
	padding-top: 30px;
}

.food-questions{
	color:white;
}

.QuestionAndChatbot {
	margin-left: 15%;
	margin-top: 5%;
	margin-right: 15%;
}

.questionbutton {
    padding: 50px;
}

.carousel-item {
	background-image: 100%;
	margin: auto;
}

.form-horizontal {
color: white;
margin-top: 10%;
margin: 0 auto;
}

.custom-control {
padding-left: 10px;
padding-right: 10px;
}

.custom-control-description {
padding: 5px;
}

.intro {
    color: teal;
}

#chatbot {
    width: 400px;
    height: 450px;
    float: right;
}

small {
    color: white;
}

.toolbar {
    color: aquamarine;
}

.mealplannertext{
  display: inline-block;
}

.mealPlanWidget {
	background-color: white;
	margin-top: 10%;
	padding: 3%;
}

.cuisineComponent {
	background-color: white;
	margin-top: 20%;
	padding: 3%;
}

.cuisineComponent1 {
	background-color: white;
	margin-top: 5%;
	padding: 3%;
}

.ingredientsComponent {
	background-color: white;
	margin-top: 20%;
	padding: 3%;
}

.ingredientsComponent1 {
	background-color: white;
	margin-top: 5%;
	padding: 3%;
}

.nutrientsComponent {
	background-color: white;
	margin-top: 7%;
	padding: 3%;
}

.nutrientsComponent1 {
	background-color: white;
	margin-top: 5%;
	padding: 3%;
}

footer {
 position: absolute;
 bottom: 0;
 width: 100%;
}
